<%= simple_form_for([patient, patient_note], :html => { class: "col-md-12"}, :remote => true )do |f| %>
  <div class="card">
    <div class="card-header form-divider">Appointment Information</div>
    <div class="card-body">
      <div class="row">
        <div id="error-case" class="col-md-12 alert alert-danger" role="alert" style="display:none">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
            <%= f.input :visit_date , :as => :string , :input_html => { :value => (Date.today).try(:strftime,"%d/%m/%Y") }%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <%= f.input :patient_complaint, :label => "Patient Complaint"%>
        </div>
        <div class="col-md-6">
            <%= f.input :signs_symptoms , :label => "Signs and Symptoms"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <%= f.input :tongue_examination , :label => "Tongue Examination"%>
        </div>
        <div class="col-md-6">
            <%= f.input :pulse_examination, :label => "Pulse Examination"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <%= f.input :diagnosis %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <%= f.input :herbal_course , :label => "Herbal Treatment"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group patient_note_acupuncture_course">
            <button class="btn btn-success btn-acu">头痛</button>
            <button class="btn btn-success btn-acu2">肩颈肘</button>
            <label class="form-control-label string optional">Acupuncture Course</label>
            <!-- <input class="form-control string optional" type="text" name="patient_note[acupuncture_course]" id="patient_note_acupuncture_course"> -->
              <input id="my-element">
          </div>
              <!-- <%= f.input :acupuncture_course , multiple: true, :label => "Acupuncture Course"%> -->
        </div>
        </div>
      <div class="row">
        <div class="col-md-12"> <%= f.input :notes , :label => "Follow Up Notes",
                                            :input_html => {:rows => 10} %> </div>
      </div>
      <%= f.input :patient_id, :as => :hidden, :input_html => { :value => patient.id } %>
      <%= f.button :submit, "Save Appointment Details", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<script>
  $(document).on("turbolinks:load",function(){
    var mySellect = sellect("#my-element", {
    originList: ['百会 BAI HUI', '风池 FENG CHI', '大椎 DA ZHUI', '阳溪 YANG XI',
                 '合谷 HE GU', '肩前 JIAN QIAN','肩髎 JIAN LIAO','肩髃 JIAN YU','曲池 QU CHI',
                 '手三里 SHOU SHAN LI','承山 CHENG SHAN','阳陵泉 YANG LING QUAN'],
    destinationList: [],
  });

  var acupunctureGroups = {
    '头痛'  : ['百会 BAI HUI', '风池 FENG CHI', '大椎 DA ZHUI', '阳溪 YANG XI', '合谷 HE GU'],
    '肩颈肘' : ['风池 FENG CHI','肩前 JIAN QIAN','肩髎 JIAN LIAO','肩髃 JIAN YU','曲池 QU CHI',
   '手三里 SHOU SHAN LI','承山 CHENG SHAN','阳陵泉 YANG LING QUAN']
  }

    mySellect.init();

    $(".btn-acu").on("click",function(e){
      e.preventDefault();
      console.log(mySellect.addToSelected(acupunctureGroups['头痛']));
    });

    $(".btn-acu2").on("click",function(e){
      e.preventDefault();
      console.log(mySellect.addToSelected(acupunctureGroups['肩颈肘']));
    });

  })
</script>
