<% content_for :head do %>
     <link rel="stylesheet" href="/assets/stylesheets/patients.scss">
<% end %>

<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for(@patient, html: { class: 'form-inline' })do |f| %>
  <div class="panel panel-default">
  <div class="panel-heading form-divider">Personal Details</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6"> <%= f.input :given_name %> </div>
      <div class="col-md-6"> <%= f.input :surname %> </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <%= f.input :date_of_birth,
                                         :as => :string,
                                         :placeholder => "YYYY-MM-DD" %>
      </div>
      <div class="col-md-6"> <%= f.input :place_of_birth %> </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <%= f.input :gender,
                                         :collection => ["Male","Female","Unspecified"] %> </div>
      <div class="col-md-6"> <%= f.input :occupation %> </div>
    </div>
  </div>
  <div class="panel-heading form-divider">Contact Details</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6"> <%= f.input :home_address %> </div>
      <div class="col-md-6"> <%= f.input :contact_number %> </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <%= f.input :emergency_contact_name %> </div>
      <div class="col-md-6"> <%= f.input :emergency_contact_number %> </div>
    </div>
  </div>
  <div class="panel-heading form-divider">Medical Condition</div>
  <div class="panel-body">
    <%= f.input :present_complaint %>
    <%= f.input :past_history %>
    <%= f.input :current_medication %>
    <%= f.input :family_history %>
    <%= f.input :smoking_history %>
    <%= f.input :allergies %>
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

  </div>
<% end %>
<% end %>
