<p id="notice"><%= notice %></p>
<h1>Patients</h1>

<div class="row">
     <div class="col-md-4">
       <div class="input-group">
         <input class="form-control" name="name" type="text" placeholder="Search for Patient name.." />
       </div>
     </div>
     <div class="col-md-8">
       <%= link_to 'New Patient', new_patient_path , class: "btn btn-primary pull-right"%>
     </div>
</div>

<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Given name</th>
      <th scope="col">Surname</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Place of birth</th>
      <th scope="col">Gender</th>
      <th scope="col">Occupation</th>
      <th scope="col">Contact number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.given_name %></td>
        <td><%= patient.surname %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.place_of_birth %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.occupation %></td>
        <td><%= patient.contact_number %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @patients %>
