<p id="notice"><%= notice %></p>
 <div class="col-md-12">
</nav>
 </div>
<br>
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr class="bg-dark text-white">
        <th scope="col">Given name</th>
        <th scope="col">Surname</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Place of birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Occupation</th>
        <th scope="col">Contact number</th>
        <th scope="col"><%= link_to new_patient_path, class: "btn btn-primary float-right" do %>
          <i class="fas fa-user-plus"></i> New Patient
        <% end %></th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.given_name %></td>
          <td><%= patient.surname %></td>
          <td><%= patient.date_of_birth %></td>
          <td><%= patient.place_of_birth %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.occupation %></td>
          <td><%= patient.contact_number %></td>
          <td>
            <div class="btn-group">
              <%= link_to patient, class: "btn btn-outline-info" do %>
                <i class="fa fa-info fa-fw"> </i> Show
              <% end %>
              <%= link_to edit_patient_path(patient), class: "btn btn-outline-secondary" do %>
                <i class="fas fa-pencil-alt fa-fw"> </i> Edit
              <% end %>
              <%= link_to patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" do %>
                <i class="fas fa-trash-alt fa-fw"> </i> Delete
              <% end %>
            </div>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @patients %>
</div>
