<p id="notice"><%= notice %></p>
<h2>Patient Data</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Patient Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="visit-tab" data-toggle="tab" href="#visit" role="tab" aria-controls="visit" aria-selected="false">Appointment Visit History</a>
  </li>
</ul>
<br>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active in" id="info" role="tabpanel" aria-labelledby="home-tab">
    <form>
      <div class="panel-heading form-divider">Personal Details</div>
      <div class="panel-body">

      <div class="form-group row form-control-plaintext">
        <label for="given-name" class="col-md-3 col-form-label">Given Name</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.given_name %>">
        </div>
        <label for="surname" class="col-md-3 col-form-label">Surname</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value=" <%= @patient.surname %>">
        </div>
      </div>
      <div class="form-group row form-control-plaintext">
        <label for="date-of-birth" class="col-md-3 col-form-label">Date of Birth</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="  <%= @patient.date_of_birth %>">
        </div>
        <label for="place-of-birth" class="col-md-3 col-form-label">Place of Birth</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.place_of_birth %>">
        </div>
      </div>
      <div class="form-group row form-control-plaintext">
        <label for="gender" class="col-md-3 col-form-label">Gender</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="  <%= @patient.gender %>">
        </div>
        <label for="occupation" class="col-md-3 col-form-label">Occupation</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.occupation %>">
        </div>
      </div>
    </div>
    <div class="panel-heading form-divider">Contact Details</div>
    <div class="panel-body">
      <div class="form-group row form-control-plaintext">
        <label for="home-address" class="col-md-3 col-form-label">Home Address</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="  <%= @patient.home_address %>">
        </div>
        <label for="contact-number" class="col-md-3 col-form-label">Contact Number</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.contact_number %>">
        </div>
      </div>
      <div class="form-group row form-control-plaintext">
        <label for="emergency-contact-name" class="col-md-3 col-form-label">Emergency Contact Name</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="  <%= @patient.emergency_contact_name %>">
        </div>
        <label for="emergency-contact-number" class="col-md-3 col-form-label">Emergency Contact Number</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.emergency_contact_number %>">
        </div>
      </div>
    </div>
    <div class="panel-heading form-divider">Medical Condition</div>
    <div class="panel-body">
      <div class="form-group row form-control-plaintext">
        <label for="present-complaint" class="col-md-3 col-form-label">Present Complaint</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="  <%= @patient.present_complaint %>">
        </div>
        <label for="past-history" class="col-md-3 col-form-label">Past History</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.past_history %>">
        </div>
      </div>
      <div class="form-group row form-control-plaintext">
        <label for="current-medication" class="col-md-3 col-form-label">Current Medication</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="  <%= @patient.current_medication %>">
        </div>
        <label for="family-history" class="col-md-3 col-form-label">Family History</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.family_history %>">
        </div>
      </div>
      <div class="form-group row form-control-plaintext">
        <label for="smoking-history" class="col-md-3 col-form-label">Smoking History</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="  <%= @patient.smoking_history %>">
        </div>
        <label for="allergies" class="col-md-3 col-form-label">Allergies</label>
        <div class="col-md-3">
          <input type="text" readonly class="form-control" value="<%= @patient.allergies %>">
        </div>
      </div>
    </div>
    </form>
  </div>

  <div class="tab-pane fade" id="visit" role="tabpanel" aria-labelledby="visit-tab">
  </div>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
