<p id="notice"><%= notice %></p>
<h2>Patient Data</h2>
<ul class="nav nav-tabs col-md-10" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Patient Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="visit-tab" data-toggle="tab" href="#visit" role="tab" aria-controls="visit" aria-selected="false">Appointment Visit History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="appt-tab" data-toggle="tab" href="#appt" role="tab" aria-controls="appt" aria-selected="false">New Appointment</a>
  </li>
</ul>
<br>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active in show" id="info" role="tabpanel" aria-labelledby="home-tab">
    <form class="col-md-12">
      <div class="card">
        <div class="card-header form-divider">Personal Details</div>
          <div class="card-body">
            <div class="form-group row form-control-plaintext">
              <div class="form-group row mx-auto">
                <div class="col-sm-6">
                  <label for="given-name">Given Name</label>
                  <input type="text" readonly class="form-control" value="<%= @patient.given_name %>">
                </div>
                <div class="col-sm-6">
                  <label for="surname">Surname</label>
                  <input type="text" readonly class="form-control" value=" <%= @patient.surname %>">
                </div>
              </div>
              <div class="form-group row mx-auto">
                <div class="col-sm-6">
                  <label for="date-of-birth">Date of Birth</label>
                  <input type="text" readonly class="form-control" value="  <%= @patient.date_of_birth %>">
                </div>
              <div class="col-sm-6">
                <label for="place-of-birth">Place of Birth</label>
                <input type="text" readonly class="form-control" value="<%= @patient.place_of_birth %>">
              </div>
            </div>
            <div class="form-group row mx-auto">
              <div class="col-sm-6">
                <label for="gender">Gender</label>
                <input type="text" readonly class="form-control" value="<%= @patient.gender %>">
              </div>
              <div class="col-sm-6">
                <label for="occupation">Occupation</label>
                <input type="text" readonly class="form-control" value="<%= @patient.occupation %>">
              </div>
            </div>
        </div>
      </div>
      <div class="card-header form-divider">Contact Details</div>
      <div class="card-body">
        <div class="form-group row form-control-plaintext">
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="home-address">Home Address</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.home_address %>">
            </div>
            <div class="col-sm-6">
              <label for="contact-number">Contact Number</label>
              <input type="text" readonly class="form-control" value="<%= @patient.contact_number %>">
            </div>
          </div>
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="emergency-contact-name">Emergency Contact Name</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.emergency_contact_name %>">
            </div>
            <div class="col-sm-6">
              <label for="emergency-contact-number">Emergency Contact Number</label>
              <input type="text" readonly class="form-control" value="<%= @patient.emergency_contact_number %>">
            </div>
          </div>
        </div>
      </div>

      <div class="card-header form-divider">Medical Condition</div>
      <div class="card-body">
        <div class="form-group row form-control-plaintext">
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="present-complaint">Present Complaint</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.present_complaint %>">
            </div>
            <div class="col-sm-6">
              <label for="past-history">Past History</label>
              <input type="text" readonly class="form-control" value="<%= @patient.past_history %>">
            </div>
          </div>
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="current-medication">Current Medication</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.current_medication %>">
            </div>
            <div class="col-sm-6">
              <label for="family-history">Family History</label>
              <input type="text" readonly class="form-control" value="<%= @patient.family_history %>">
            </div>
          </div>
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="smoking-history">Smoking History</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.smoking_history %>">
            </div>
            <div class="col-sm-6">
              <label for="allergies">Allergies</label>
              <input type="text" readonly class="form-control" value="<%= @patient.allergies %>">
            </div>
          </div>
      </div>
      <%= link_to 'Edit Patient Detail', edit_patient_path(@patient) , class: "btn btn-secondary"%>
    </div>
    </div>
    </form>
  </div>


  <div class="tab-pane" id="visit" role="tabpanel" aria-labelledby="visit-tab">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header bg-dark text-white">
          Visit 1 - 19 April 2018
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="tab-pane" id="appt" role="tabpanel" aria-labelledby="appt-tab">
    <%= simple_form_for(@patient_note, :html => { class: "col-md-12"})do |f| %>
      <div class="card">
        <div class="card-header form-divider">Appointment Information</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
                <%= f.input :visit_date , :as => :string , :input_html => { :value => Date.today }%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"> <%= f.input :notes , :input_html => {:rows => 10} %> </div>
          </div>
          <%= f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id } %>
          <%= f.button :submit, "Save Appointment Details", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>


<%= link_to 'Back', patients_path %>
