<% if notice %>
<p id="notice" class="alert alert-success alert-dismissible">
  <%= notice %>
</p>
<% end %>
<h1><%= @patient.given_name %> <%= @patient.surname %></h1>
<ul class="nav nav-tabs col-md-10" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true"><i class="far fa-address-card fa-fw"></i><span class="ml-1">Patient Information</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="visit-tab" data-toggle="tab" href="#visit" role="tab" aria-controls="visit" aria-selected="false"><i class="far fa-clock fa-fw"></i><span class="ml-1">Appointment Visit History</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="appt-tab" data-toggle="tab" href="#appt" role="tab" aria-controls="appt" aria-selected="false"><i class="fas fa-plus-circle fa-fw"></i><span class="ml-1">New Appointment</span></a>
  </li>
</ul>
<br>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active in show" id="info" role="tabpanel" aria-labelledby="home-tab">
    <form class="col-md-12">
      <div class="card">
        <div class="card-header form-divider" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
          <i class="fas fa-minus fa-fw mr-2"></i>
          <i class="fas fa-plus fa-fw mr-2"></i>
          Personal Details
        </div>
          <div class="card-body collapse show" id="collapse1">
            <div class="form-group row form-control-plaintext">
              <div class="form-group row mx-auto">
                <div class="col-sm-6">
                  <label for="given-name">Given Name</label>
                  <input type="text" readonly class="form-control" value="<%= @patient.given_name %>">
                </div>
                <div class="col-sm-6">
                  <label for="surname">Surname</label>
                  <input type="text" readonly class="form-control" value=" <%= @patient.surname %>">
                </div>
              </div>
              <div class="form-group row mx-auto">
                <div class="col-sm-6">
                  <label for="date-of-birth">Date of Birth</label>
                  <input type="text" readonly class="form-control" value="  <%= @patient.date_of_birth %>">
                </div>
              <div class="col-sm-6">
                <label for="place-of-birth">Place of Birth</label>
                <input type="text" readonly class="form-control" value="<%= @patient.place_of_birth %>">
              </div>
            </div>
            <div class="form-group row mx-auto">
              <div class="col-sm-6">
                <label for="gender">Gender</label>
                <input type="text" readonly class="form-control" value="<%= @patient.gender %>">
              </div>
              <div class="col-sm-6">
                <label for="occupation">Occupation</label>
                <input type="text" readonly class="form-control" value="<%= @patient.occupation %>">
              </div>
            </div>
        </div>
      </div>
      <div class="card-header form-divider" data-toggle="collapse" data-target="#collapse2" aria-expanded="true">
        <i class="fas fa-minus fa-fw mr-2"></i>
        <i class="fas fa-plus fa-fw mr-2"></i>
        Contact Details
      </div>
      <div class="card-body collapse show" id="collapse2">
        <div class="form-group row form-control-plaintext">
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="home-address">Home Address</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.home_address %>">
            </div>
            <div class="col-sm-6">
              <label for="contact-number">Contact Number</label>
              <input type="text" readonly class="form-control" value="<%= @patient.contact_number %>">
            </div>
          </div>
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="emergency-contact-name">Emergency Contact Name</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.emergency_contact_name %>">
            </div>
            <div class="col-sm-6">
              <label for="emergency-contact-number">Emergency Contact Number</label>
              <input type="text" readonly class="form-control" value="<%= @patient.emergency_contact_number %>">
            </div>
          </div>
        </div>
      </div>

      <div class="card-header form-divider" data-toggle="collapse" data-target="#collapse3" aria-expanded="true">
        <i class="fas fa-minus fa-fw mr-2"></i>
        <i class="fas fa-plus fa-fw mr-2"></i>
        Medical Condition
      </div>
      <div class="card-body collapse show" id="collapse3">
        <div class="form-group row form-control-plaintext">
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="present-complaint">Present Complaint</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.present_complaint %>">
            </div>
            <div class="col-sm-6">
              <label for="past-history">Past History</label>
              <input type="text" readonly class="form-control" value="<%= @patient.past_history %>">
            </div>
          </div>
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="current-medication">Current Medication</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.current_medication %>">
            </div>
            <div class="col-sm-6">
              <label for="family-history">Family History</label>
              <input type="text" readonly class="form-control" value="<%= @patient.family_history %>">
            </div>
          </div>
          <div class="form-group row mx-auto">
            <div class="col-sm-6">
              <label for="smoking-history">Smoking History</label>
              <input type="text" readonly class="form-control" value="  <%= @patient.smoking_history %>">
            </div>
            <div class="col-sm-6">
              <label for="allergies">Allergies</label>
              <input type="text" readonly class="form-control" value="<%= @patient.allergies %>">
            </div>
          </div>
      </div>

      <%= link_to edit_patient_path(@patient), class: "btn btn-secondary" do %>
        <i class="fas fa-pencil-alt"> </i> Edit Patient Detail
      <% end %>

    </div>
    </div>
    </form>
  </div>

  <div class="tab-pane" id="visit" role="tabpanel" aria-labelledby="visit-tab">
    <% @patient_visits.each do |visit| %>
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-header bg-dark text-white">
            <%= "[ #{(Date.today - visit.visit_date).to_i} Days Ago ] . " if visit.visit_date %>
            <%= visit.visit_date.strftime('%a %d %b %Y')  if visit.visit_date %>
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"> <%= visit.notes %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane" id="appt" role="tabpanel" aria-labelledby="appt-tab">
    <%= simple_form_for([@patient, @patient_note], :html => { class: "col-md-12"}, :remote => true )do |f| %>
      <div class="card">
        <div class="card-header form-divider">Appointment Information</div>
        <div class="card-body">
          <div class="row">
            <div id="error-case" class="col-md-12 alert alert-danger alert-dismissible" role="alert" style="display:none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
                <%= f.input :visit_date , :as => :string , :input_html => { :value => Date.today }%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"> <%= f.input :notes , :input_html => {:rows => 10} %> </div>
          </div>
          <%= f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id } %>
          <%= f.button :submit, "Save Appointment Details", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
